<header class="bg-gray-800 text-white shadow-md sticky top-0 px-11 py-4">
  <nav class="container mx-auto px-4 py-2">
    <ul class="flex justify-between items-center">
      <div>
        <a routerLink="/">
          {{ title }}
        </a>
      </div>

      <div class="flex space-x-4">
        <li *ngIf="token$ | async as token" class="hover:text-gray-400">
          <a routerLink="profile">Profile</a>
        </li>
        <li *ngIf="token$ | async as token" class="hover:text-gray-400">
          <a routerLink="admin">Admin</a>
        </li>
      </div>
      <div>
        <li *ngIf="token$ | async as token" class="hover:text-gray-400">
          <button (click)="onLogout()">Logout</button>
        </li>
      </div>
    </ul>
    <ng-template #loggedOut>
      <ul class="flex justify-end space-x-4">
        <li class="hover:text-gray-400">
          <a routerLink="login">Login</a>
        </li>
      </ul>
    </ng-template>
  </nav>
</header>

<router-outlet></router-outlet>
